<div class="columns is-centered mt-6">
  <div class="column is-half">
      <div class="box is-fullwidth has-background-info-dark">
        <article class="box">
          <div class="title has-text-centered">
          <b><%= current_user.full_name %>'s Collection</b>
          <% if current_user.boardgames.empty? %>
            There are no games in your collection.
            <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  <% current_user.boardgames.each do |boardgame| %>
    <div class="square">
      <div class="custom-box">
        <div class="table">
          <div class="table-cell">
            <% if boardgame.small_image %>
              <%= link_to (image_tag boardgame.small_image, alt: "boardgame"), boardgame_path(boardgame)%>
            <% end %><br>
            <b><%= link_to boardgame.name, boardgame_path(boardgame) %></b><br><br>
              <%= button_to "Remove", user_boardgame_path(boardgame), method: "delete" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>