<b><%= current_user.full_name %>'s Collection</b><br><br>
<% if current_user.boardgames.empty? %>
  There are no games in your collection.
  <% end %>
<ol>

<% current_user.boardgames.each do |boardgame| %>

  <% if boardgame.small_image %>
    <%= link_to (image_tag boardgame.small_image, alt: "boardgame"), boardgame_path(boardgame)%>
  <% end %>

  <li><%= link_to boardgame.name, boardgame_path(boardgame) %></li>
  <%= button_to "Remove", user_boardgame_path(boardgame), method: "delete" %><br>

<% end %>
</ol>
