

<div class="columns is-centered mt-2">
  <div class="column is-one-third">
  <div class="box">
  <div class="box has-text-centered is-fullwidth has-background-info-dark">
  <div class="box">
    <h1 class="is-size-2 has-text-weight-bold mb-3"> Sign Up</h1>
    </div>
    </div>
    <%= render 'form' %>
  </div>
  </div>
  </div>
 
