<h3 class="title">Your Reviews</h3>
<% current_user.user_reviews.each do |ur| %>
<article class="message is-info">
  <div class="message-header">
    <%= ur.boardgame.name %>
  </div>
  <div class="message-body">
    <%= ur.rating %>
    <br>
    <%= ur.review %>
  </div>
  <%= button_to "Delete Review", user_review_path(ur), method: "delete",  data: {confirm: "Are you sure?"} %><br>
</article>
<% end %>
