/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-image: url(https://www.freeiconspng.com/uploads/white-dice-png-2.png);
  opacity: 1;
}

div.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.nav-bar li {
  float: right;
}

div.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


div.nav-bar li a:hover {
  background-color: #111;
}

div.nav-bar ul {
  position: top;
  top: 0;
  width: 100%;
}

div.image  {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 100%;
}
/* 
div.back_img{
  background-image: url("https://preview.free3d.com/img/2015/10/2145887983612462987/127cs5lq-900.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
} */

div.grid {
  width: 100%;
  padding-bottom: 100%; /* = width for a square aspect ratio */
}

.square {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  overflow:hidden;
}

.custom-box {
  position:absolute;
  text-align:center;
  height:80%; /* = 100% - 2*10% padding */
  width:90%; /* = 100% - 2*5% padding */
  padding: 10% 5%;
  border: 10px solid;
  border-color: #3498dc;
  padding: 0px;
  box-shadow: 5px 10px 18px #111111;
}
.table{
  display:table;
  height:100%;
  width:100%;
}

.table-cell{
  display:table-cell;
  vertical-align:middle;
  height:100%;
  width:100%;
}
