<h1 class="title">Welcome to your Social Boardgame Experience</h1>

<h2>Search Boardgame Titles</h2>
<%= form_tag(boardgames_path method: :get) do %>
  <h4>Boardgame: <%= text_field_tag :name, params[:name] %>
  <%= submit_tag 'Search', name: nil %></h4>
<% end %>



<ul>
<h3>All Boardgames</h2>
<% @boardgames.each do |b| %>
<li><%= link_to b.name, b %></li>
<% end %>
</ul>


<h4>Top Boardgame</h4>
